.avatar {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  position: relative;
  cursor: pointer;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:focus,
  &:hover {
    outline: 0;

    &:before {
      border: 1px solid rgb(155, 160, 163);
    }
  }

  &.selectable {
    &:focus,
    &:hover {
      &:before {
        border: 3px solid rgb(155, 160, 163);
        background-color: rgba(122, 161, 178, 0.2);
      }
    }

    &.loading:before {
      border: 3px solid rgb(122, 161, 178);
      border-bottom-color: transparent;
      animation: rotation 1s linear infinite
    }
  }

  &.active:before {
    border: 3px solid rgb(122, 161, 178);
  }

}

@keyframes rotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
