.popover {
  width: 285px;
  position: absolute;
  z-index: 100;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, 100%) scale(0);
  border-radius: 2px;
  background-color: rgb(44, 48, 51);
  box-shadow: 2px 2px 10px rgb(102, 102, 102);
  padding: 14px;
  color: #fff;
  animation: bounce 0.4s normal forwards ease-in-out;

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgb(44, 48, 51) transparent;
  }
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99;
}

@keyframes bounce {
  75% {
    transform: translate(-50%, 100%) scale(1.05);
  }

  100% {
    transform: translate(-50%, 100%) scale(1);
  }
}
